@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

a * {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  background: #020617;
}
